<!DOCTYPE html>
<html>

<head th:replace="fragments/base.html :: headFragment(title='Home')"></head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="    padding: 0.5rem 1rem;">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="" /><span>
              CaterinGo
            </span></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/default}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/buffet}">Buffet <span class="sr-only">(current)</span></a>
            </li>

        </ul>

    </div>
    <div> <a th:href="@{'/logout'}">
        <i class="fas fa-sign-out-alt"></i>
    </a></div>
</nav>

<main>
    <div style="background-color: #0000005e;">
        <img class="decorative-img parallax-img1 w-100 p-2">

    </div>
    <div class="siw-title text-white">
        <p class="text-center">
            La cucina eccellente al servizio del tuo successo
        </p>

        <a href="#scopri" class="custom_orange-btn mr-3" style="font-size: 3vh;font-family: 'Poppins', sans-serif;">
            Scopri
        </a>


    </div>


    <section style="    padding-top: 120px;" id="scopri">
        <div class="container">
               <div class="item">
                    <div class="row menu_inner">
                        <div class="col-lg-7" style="vertical-align: middle;align-self: center;">
                            <div class="story_text main_title">
                                <h2>I nostri Buffet</h2>
                                <p style="width: 80%">I nostri buffet presenta la nostra offerta di opzioni deliziose e convenienti per i vostri eventi. Siamo orgogliosi di offrire una vasta selezione di piatti caldi e freddi, 
                                perfetti per qualsiasi occasione, dalle riunioni aziendali ai matrimoni. Tutti i nostri buffet sono preparati con ingredienti freschi e di alta qualità, e sono disponibili in diverse opzioni per soddisfare le esigenze alimentari individuali.</p>
                            </div>
                            <a class="main_btn"  th:href="@{/buffet}">Scopri di più</a>
                        </div>
                        <div class="col-lg-5">
                            <div class="menu_img">
                                <img th:src="@{'/images/menu.jpg'}" alt="">
                            </div>
                        </div>
                    </div>
                </div></div>
        </div>

    </section>

    <section class="about_story_area" style="    padding-top: 120px;">
        <div class="container">
            <div class="row story_inner">
                <div class="col-lg-7">
                    <div class="story_img2">
                        <img class="img-fluid" th:src="@{'/images/chef.jpg'}" alt="">
                    </div>
                </div>
                <div class="col-lg-5" style="vertical-align: middle;align-self: center;">
                    <div class="story_text main_title">
                        <h2>I nostri Chef</h2>
                        <p>nostri chef mette in risalto l'eccezionale talento e la vasta esperienza della nostra squadra culinaria. Ognuno di loro porta con sé anni di formazione e pratica nella preparazione di piatti deliziosi e artigianali. 
                        Il loro impegno per la qualità e l'utilizzo di ingredienti freschi e locali garantiscono un'esperienza culinaria unica ad ogni evento che serviamo.</p>
                    </div>
                    <a class="main_btn" href="#">Scopri di più</a>
                </div>
            </div>
        </div>
    </section>

</main>

<footer class="secondary-color text-center text-white">
    <div class="container p-4">

        <section class="mb-4">

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>

        <section>
            <form>
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Iscriviti alla newsletter!</strong>
                        </p>
                    </div>

                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control" />
                            <label class="form-label" for="form5Example21">Email</label>
                        </div>
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <div class="text-center p-3 bg-dark" >
        2022 Copyright:
        <span class="text-white">Missimi Alessandra</span>
    </div>
</footer>

<div th:replace="fragments/base.html :: scriptFragment"></div>

</body>

</html>