<!DOCTYPE html>
<html>

<head>
    <title>Registrazione</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
</head>

<body >
<img th:src="@{/images/sfondo.jpg}" class="bg-img">

<main class="pt-5 pb-5">

    <div class="card w-50 mx-auto mt-5 text-center tertiary-color" style="background: #0b0b0b47 !important;">
        <div class="card-body p-5">

            <div class="d-flex justify-content-center mt-5 mb-5">
                <div class="brand_logo_container">
                    <img src="images/logo.png" class="brand_logo"
                         alt="Logo">
                </div>
            </div>

            <form th:action="@{/register}" method="post">
                <div class="form-outline mb-4">
                    <label for="input-username" class="form-label">Username</label>
                    <div class="input-group mb-3">

                        <input type="text" th:field="${credentials.username}"
                               class="form-control"
                               th:classappend="${#fields.hasErrors('credentials.username') ? 'is-invalid' : ''}"
                               id="input-username" />
                        <div class="invalid-feedback">
							<span th:if="${#fields.hasErrors('credentials.username')}"
                                  th:errors="${credentials.username}"></span>
                        </div>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label for="input-password" class="form-label">Password</label>
                    <div class="input-group mb-3">
                        <input type="password" th:field="${credentials.password}"
                               class="form-control"
                               th:classappend="${#fields.hasErrors('credentials.password') ? 'is-invalid' : ''}"
                               id="input-password" />
                        <div class="invalid-feedback">
							<span th:if="${#fields.hasErrors('credentials.password')}"
                                  th:errors="${credentials.password}"></span>
                        </div>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label for="input-nome" class="form-label">Nome</label>
                    <div class="input-group mb-3">
                        <input type="text" th:field="${user.nome}" class="form-control"
                               th:classappend="${#fields.hasErrors('user.nome') ? 'is-invalid' : ''}"
                               id="input-nome" />
                        <div class="invalid-feedback">
							<span th:if="${#fields.hasErrors('user.nome')}"
                                  th:errors="${user.nome}"></span>
                        </div>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label for="input-cognome" class="form-label">Cognome</label>
                    <div class="input-group mb-3">
                        <input type="text" th:field="${user.cognome}" class="form-control"
                               th:classappend="${#fields.hasErrors('user.cognome') ? 'is-invalid' : ''}"
                               id="input-cognome" />
                        <div class="invalid-feedback">
							<span th:if="${#fields.hasErrors('user.cognome')}"
                                  th:errors="${user.cognome}"></span>
                        </div>
                    </div>
                </div>

                <div class="d-grid text-center pt-1 mb-5 pb-1">
                    <button type="submit"
                            class="btn btn-primary mb-3" style="width: 100%;height: 50px;">
                        Registrati
                    </button>
                </div>

            </form>
        </div>




    </div>
</main>
<footer class="secondary-color text-center text-white">
    <div class="container p-4">

        <section class="mb-4">

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>

        <section>
            <form>
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Iscriviti alla newsletter!</strong>
                        </p>
                    </div>

                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control" />
                            <label class="form-label" for="form5Example21">Email</label>
                        </div>
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <div class="text-center p-3 bg-dark" >
        2022 Copyright:
        <span class="text-white">Missimi Alessandra</span>
    </div>
</footer>

<div th:replace="fragments/base.html :: scriptFragment"></div>

</body>

</html>